# --- Maven ---
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.nextBackup
pom.xml.backup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.properties

# --- Java / IDE (VS Code & Eclipse) ---
*.class
*.log

# Eclipse
.classpath
.project
.settings/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# VS Code
.vscode/
*.vscode

# IntelliJ IDEA (เผื่อเปิดสลับ IDE)
.idea/
*.iml
*.iws
*.ipr
out/

# --- Operating System Files ---
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Environment Variables
.env